# Core libraries
streamlit
pandas

# Google API libraries
google-auth
google-auth-oauthlib
gspread==5.10.0
gspread-pandas==2.4.5

# Utils for forms, selection, and menus
streamlit-option-menu

# Additional utilities
pathlib==1.0.1
