# Core libraries
streamlit
pandas

# Google API libraries
google-auth
google-auth-oauthlib
gspread
gspread-pandas

# Utils for forms, selection, and menus
streamlit-option-menu

# Additional utilities
pathlib==1.0.1
